@page "/decrypt"
@inject ICryptoService _cryptoService
@using System
@using System.Text
@using System.ComponentModel.DataAnnotations
@using ArCrypt.Blazor.Model

<h4>Decrypt</h4>

<EditForm Model="@_encryptForm" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3" style="width:100%">
        <ArInput @bind-Value="@_encryptForm.Ciphertext" Label="Ciphertext" Placeholder="Ciphertext"></ArInput>
    </div>


    <div class="mb-3" style="width:100%">
        <ArPassword @bind-Value="@_encryptForm.Password" Label="Password" Placeholder="Password" DisableGenerate="@true"></ArPassword>
    </div>



    <div class="mb-3">
        @if (isLoading)
        {
            <button class="btn btn-primary w-100" disabled>
                <span class="spinner-border spinner-border-sm"></span>
                <span>Loading...</span>
            </button>
        }
        else
        {
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        }
        <button type="reset" class="btn btn-danger w-100 mt-2" @onclick="ResetForm">Reset</button>
    </div>

    <div class="mb-3" style="width:100%">
        <ArInput @bind-Value="@_encryptForm.Plaintext" readonly DisableClear="@true" Label="Plaintext" Placeholder="Plaintext"></ArInput>
    </div>

</EditForm>

@code {

    private bool isLoading = false;
    private EncryptionForm _encryptForm = new();
    private ValidationContext _validationContext = null!;
    private List<ValidationResult> _validationResult = null!;

    protected override async Task OnInitializedAsync()
    {
        await _cryptoService.Initialise();
        _validationContext = new ValidationContext(_encryptForm);
        _validationResult = [];
    }

    private async Task HandleSubmit()
    {
        if (Validator.TryValidateObject(_encryptForm, _validationContext, _validationResult, true))
        {
            Console.WriteLine("Encryption successful!");
        }
        else
        {
            foreach (var result in _validationResult)
            {
                Console.WriteLine(result.ErrorMessage);
            }
        }

        try
        {
            var ciphertextBytes = Convert.FromBase64String(_encryptForm.Ciphertext);
            var plaintextBytes = await _cryptoService.Decrypt(ciphertextBytes, _encryptForm.Password, null);
            var plainText = Encoding.UTF8.GetString(plaintextBytes);
            _encryptForm.Plaintext = plainText;
        }
        catch(Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private void ResetForm()
    {
        _encryptForm.Reset();
        _validationResult.Clear();
        StateHasChanged();
    }

    
}
